
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body{
  background: #F2F2F2;
}

.nav-bar{
  height: 80px;
  background: white;
  color: #777;
  ul{
    text-align: center;
    display: flex;
    flex-direction: row;
    line-height: 80px;
  }
  li{
    flex: 1;
    list-style: none;
    margin-bottom: 30px;
  }
  .logo{
    flex: 2;
    background-image: url('https://cdn-assets.alltrails.com/assets/shared/AT_Main_Logo_Split-bc3fdc7e931c561049194c4f88254bac.png');
    height: 60px;
    width: 198px;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .sign-up{
    background: #219AD8;
    color: white;
  }
}

.secondary-bar{
  border-top: .5px solid #E0E0E0;
  text-align: bottom;
  padding-top: 5px;
  height: 40px;
  background: #F2F2F2;
  color: #8D8D8D;
  font-size: 13px;
  font-weight: 300;
  ul{
    text-align: center;
    display: flex;
    flex-direction: row;
  }
  li{
    flex: 0.5;
    list-style: none;
    padding-top: 5px;
  }
  .spacer{
    flex: 2;
  }
  .long-text{
    flex:2.5;
  }
  .search-field{
    flex: 2;
    width: 200px;
    height: 30px;
    background: white;
    border: .5px solid #E0E0E0;
  }
  .search-button{
    width: 60px;
    height: 30px;
    border-radius: 0 5px 5px 0;
    background: #428913;
    color: white;
    padding-top: 0px;
  }
}

.hero-image{
  height: 335px;
  background-image: url('https://cdn-assets.alltrails.com/uploads/photo/image/18079521/extra_large_49661af6e45d0ab4e527872bd32b5456.jpg');
  background-image: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.6)), url('https://cdn-assets.alltrails.com/uploads/photo/image/18079521/extra_large_49661af6e45d0ab4e527872bd32b5456.jpg');
}
.hero-content{
  padding-top: 150px;
  padding-left: 10px;
  color: white;

  .fa-star{
    color: orange;
  }
  hr{
    border: 0.5px solid white;
  }
  ul{
    padding-left: 0;
    text-align: left;
    display: flex;
    flex-direction: row;
  }
  li{
    flex: 1;
    list-style: none;
  }
}
.rating-button{
    background: #191919;
    color: white;
    text-align: center;
    font-size: 10px;
    font-weight: lighter;
    line-height: 8px;
    margin-right: 5px;
    width: 75px;
    padding: 3px;
    border-radius: 2px;
  }
.body-content{
  display: flex;
  flex-direction: row;
}
.left-column{
  flex: 3;
  height: 100%;
  background: white;

  p{
    padding-top: 10px;
  }
}

.right-column{
  flex: 1.5;
  height: 100%;
  background: #E6E6E6;

  h3{
    font-size: 17px;
  }
}
.trail-stats, .trail-tags{
  ul{
    display: flex;
    padding-left: 0;
  }
  li{
    list-style: none;
    flex: 1;
  }
}
.trail-tags{
  ul{
    display: flex;
    flex-wrap: wrap;
  }
}
.trail-tag-list{
  li{
    max-width: 150px;
    color: white;
    padding: 5px 12px;
    background: #808080;
    border-radius: 5px;
    margin: 5px 5px;
    height: 33px;
    white-space: nowrap;
    text-align: center;
  }
}
.static-map{
  margin-top: 10px;
  min-width: 300px;
  height: 250px;
  background-image: url('https://cdn-assets.alltrails.com/static-map/production/at-map/17958174/trail-canada-alberta-ha-ling-peak-at-map-17958174-1517623158-300x250-1.png');

  button{
    margin-top: 200px;
    margin-left: 10px;
    background: white;
    opacity: 0.9;
    color: #878370;
    width: 327px;
    border: 0;
  }
}

.comment-headings, .comment-filters, .comment-content, .weather{
  ul{
    display: flex;
    padding-left: 0;
  }
  li{
    list-style: none;
    flex:1;
  }
}
// .comments-container{
//   display: flex;
//   flex-direction: ;
// }

.comments-section{
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.comment-container{
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}
.name-stars{
  margin-bottom: 2px;
  white-space: nowrap;

}


.comment-filters{
  font-size: 12px;
  padding: 0 100px;
}
.comment-picture{
  flex: 1;
  height: 62px;
  max-width: 62px;
  background: #f2f2f2;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 20px;
}

.user-picture{
  border-radius: 5px;
}

.comment-content{
  flex: 4;
  background: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px 10px 10px 10px;
  color: #414141;
  font-size: 13px;

  .fa-star{
    color: orange;
  }
  .comment-tag{
    background: #808080;
    border-radius: 5px;
    color: white;
    max-width: 70px;
    text-align: center;
    margin-right: 120px;
    white-space: nowrap;
  }
}
.completed-button{
  background: #808080;
  border-radius: 5px;
  color: white;
  max-width: 70px;
  text-align: center;
  margin-right: 120px;
  white-space: nowrap;
}

.weather{
  font-size: 13px;
  text-align: center;
}

.weather-icons{
  .fa-cloud{
    color: grey;
  }
  .fa-snowflake{
    color: steelblue;
  }
  .fa-sun{
    color: orange;
  }
}

.trails-pictures{
  height: 142px;
  width: 350px;
  background-image: url('https://cdn-assets.alltrails.com/uploads/photo/image/18079521/extra_large_49661af6e45d0ab4e527872bd32b5456.jpg');
  background-image: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.6)), url('https://cdn-assets.alltrails.com/uploads/photo/image/18079521/extra_large_49661af6e45d0ab4e527872bd32b5456.jpg');

}
.trail-pictures-content{
  padding-top: 29px;
  padding-left: 5px;
  color: white;
  font-weight: lighter;

  .fa-star{
    color: orange;
  }
}
